
        img {
            width: 128px;
        }
        
        img.mying {
            width: 200px;
        }
        table , th, td{
            background-color: #F0FFFF;
    
        }
        .header{
            background-color: #FFF8DC;
        }
        .main{
            background-color: #F0F8FF;
        }
        .footer{
            background-color: #FFFAF0;
        }